/* 默认dark主题 */
:root[naive-theme='dark'] {
  --table-bg: rgb(24, 24, 28);
  --table-heade-bg: #26262a;
  --table-header-text-color: rgba(255, 255, 255, 0.82);
  --table-border-color: rgba(45, 45, 48, 1);
  --table-th-color: #18181c;
  --table-th-text-color: rgba(255, 255, 255, 0.9);
}

.vxe-header--column {
  background-color: var(--table-heade-bg);
  color: var(--table-header-text-color);
  border-color: var(--table-border-color);
}

.vxe-body--column {
  background-color: var(--table-th-color);
  color: var(--table-th-text-color);
  border-color: var(--table-border-color);
}

.vxe-table--body {
  border-color: var(--table-border-color) !important;
}

.vxe-body--column {
  border-left-color: var(--table-border-color) !important;
  border-bottom-color: var(--table-border-color) !important;
}

th.vxe-header--column {
  border-left-color: var(--table-border-color) !important;
  border-bottom-color: var(--table-border-color) !important;
}

.vxe-table .vxe-table--header-wrapper .vxe-table--header-border-line {
  border-color: var(--table-border-color) !important;
}

.vxe-table--render-default.border--inner .vxe-body--column {
  background-image: linear-gradient(var(--table-border-color), var(--table-border-color));
}
